* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: $font-default;

  width: 100vw;
  height: 100vh;
  background-color: $dark-cyan;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.bg-pattern {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  overflow: hidden;

  &--top {
    position: absolute;
    right: 50%;
    bottom: 40%;
  }

  &--bottom {
    position: absolute;
    left: 50%;
    top: 50%;
  }
}