.profile-card {
  &::before {
    content: url("../images/bg-pattern-card.svg");
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border-radius: 2rem;
  overflow: hidden;

  position: relative;

  &__avatar {
    border: .5rem solid white;
    border-radius: 50%;

    position: absolute;
    top: 140px;
    transform: translateY(-50%);
  }

  &__user {
    margin-top: 7rem;
  }

  &__name {
    font-weight: 700;
    color: $very-dark-desaturated-blue;
  }

  &__age {
    color: $dark-grayish-blue;
  }

  &__address {
    color: $dark-grayish-blue;
    font-size: 1.5rem;

    display: block;
    margin-top: 1rem;
    text-align: center;
  }

  hr {
    width: 100%;
    height: 2px;
    background-color: rgba($dark-gray, .15);
    border: none;

    margin: 2.5rem 0;
  }
}

.stats {
  width: 100%;
  display: flex;
  justify-content: space-around;

  margin-bottom: 2rem;

  &__wrapper {
    display: flex;
    flex-direction: column;    
    align-items: center;
  }

  &__number {
    font-weight: 700;
  }

  &__label {
    font-size: 1.1rem;
    color: $dark-grayish-blue;
    letter-spacing: 1px;

    margin-top: .5rem;
  }
}